<div class="spell-learn {{if (empty this.spells) 'no-spells'}}">
  {{#unless (empty this.spells)}}
    <hr/>
  {{/unless}}
  <h2>Add Spells</h2>
  {{this.learnables}}
  {{#if this.canLearn}}
    <div class="spell-learning">
      <PowerSelect id="currentAspect" @selected={{this.aspect}} @options={{this.learn.aspects}} @value={{this.currentAspect}} @onChange={{action "changeSpellList"}} as |currentAspect|>
        {{currentAspect}}
      </PowerSelect>
      <PowerSelect id="currentSpell" @selected={{this.spell}} @options={{this.availableSpells}} @value={{this.currentSpell}} @onChange={{action (mut this.spell) }} as |currentSpell|>
        {{currentSpell}}
      </PowerSelect>
      <button {{action 'addSpell' this.spell}} class="btn btn-primary">Learn</button>
    </div>
    <FlashMessages />
  {{/if}}
</div>
