{{#let (get this.spellList (concat this.scene.poseChar.name ".unopposed")) (get this.spellList (concat this.scene.poseChar.name ".opposed"))
  as |unopposed opposed|
}}
<BsModalSimple @title="Cast Spell" @closeTitle="Cancel" @submitTitle="Cast" @size={{null}} @fade={{true}} @open={{this.selectCastSpell}} @onSubmit={{action "addSpell"}} @onHide={{action (mut this.selectCastSpell) false}}>
<p class="hint">'Rating' is only needed for NPCs, and should be a number. An average attribute is automatically factored in, so "3" will roll 5 dice total for the NPC.</p>

    <p><b>Simple Cast</b></p>
    <p>Select a spell, or type one (plus modifiers, if applicable) in the box.</p>
    <span class="castlabel">Spell:</span> <select onchange={{action (mut this.spellString) value="target.value"}}>
      {{#each unopposed as |spell|}}
        <option value={{spell}}>{{spell}}</option>
      {{/each}}
    </select>
    <Input @type="text" size={{25}} id="spellString" @enter={{action "addSpell"}} @value={{this.spellString}} />

   <hr>
    <p><b>Opposed Cast</b></p>

    <p>
    <span class="castlabel">Spell:</span> <select onchange={{action (mut this.spellOpposed) value="target.value"}}>
      {{#each opposed as |spell|}}
        <option value={{spell}}>{{spell}}</option>
      {{/each}}
    </select>
    <Input @type="text" size={{25}} id="spellOpposed" @enter={{action "addSpell"}} @value={{this.spellOpposed}} /><br/>
    vs<br/>
      <span class="castlabel">Target:</span> <Input @type="text" size={{15}} id="pcTarget" @enter={{action "addSpell"}} @value={{this.pcTarget}} />
      <span class="castsublabel">Rating:</span> <Input @type="text" size={{15}} id="npcRating" @enter={{action "addSpell"}} @value={{this.npcRating}} />
    </p>

   <hr>
    <p><b>Simple Cast for Another PC</b></p>

    <p>
      <span class="castlabel">Character:</span> <Input @type="text" size={{15}} id="pcSpellName" @enter={{action "addSpell"}} @value={{this.pcSpellName}} />
      <span class="castsublabel">Spell:</span> <Input @type="text" size={{15}} id="pcCastSpell" @enter={{action "addSpell"}} @value={{this.pcCastSpell}} /><br>
    </p>

    <hr>
    <p><b>Opposed Cast for Another PC</b></p>
    <p>
      <span class="castlabel">Character:</span> <Input @type="text" size={{15}} id="vsName1" @enter={{action "addSpell"}} @value={{this.vsName1}} />
      <span class="castsublabel">Spell:</span> <Input @type="text" size={{15}} id="vsRoll1" @enter={{action "addSpell"}} @value={{this.vsRoll1}} /><br>
     vs<br>
      <span class="castlabel">Target:</span> <Input @type="text" size={{15}} id="vsName2" @enter={{action "addSpell"}} @value={{this.vsName2}} />
      <span class="castsublabel">Rating:</span> <Input @type="text" size={{15}} id="vsRoll2" @enter={{action "addSpell"}} @value={{this.vsRoll2}} />
    </p>

  </BsModalSimple>
{{/let}}
