<div id="systemspells" class="tab-pane fade">
    <CharSpells  @char={{this.char}} @spells={{this.char.custom.spells}} @spellnotes={{this.char.custom.spellnotes}} @skills={{this.char.fs3.action_skills}} @xp={{this.char.fs3.xp}} @learn={{this.learn}} @reloadChar={{action "reloadChar"}} />
</div>
