<div id="systemprefs" class="tab-pane fade">
  {{#if this.rp_notes}}
  <table>
    <tr><td colspan="2"><h2>Notes:</h2></td></tr>
    <tr><td colspan="2">
      <AnsiFormat @text={{this.rp_notes}} />
    </td></tr>
  </table>
  {{/if}}
  {{#each-in this.pref_list as |cat data|}}
  <table>
    <tr><td colspan="2"><h2>{{cat}}</h2></td></tr>
    {{#each-in data as |key desc|}}
      <tr>
        <td>{{desc}}</td>
        <td class="pref-dots">
          {{#if (eq (get this.rp_prefs (concat cat "." key)) "1")}}
            <i class="fas fa-circle fa-sm char-dot-fill red"><span class="reader-only">Red</span></i>
          {{else}}
            <i class="far fa-circle fa-sm char-dot-empty"></i>
          {{/if}}
          {{#if (eq (get this.rp_prefs (concat cat "." key)) "2")}}
            <i class="fas fa-circle fa-sm char-dot-fill yellow"><span class="reader-only">Yellow</span></i>
          {{else}}
            <i class="far fa-circle fa-sm char-dot-empty"></i>
          {{/if}}
          {{#if (eq (get this.rp_prefs (concat cat "." key)) "3")}}
            <i class="fas fa-circle fa-sm char-dot-fill green"><span class="reader-only">Green</span></i>
          {{else}}
            <i class="far fa-circle fa-sm char-dot-empty"></i>
          {{/if}}
        </td>
      </tr>
    {{/each-in}}
  </table>
  {{/each-in}}
</div>