{{page-title 'Characters'}}
<h1>Characters</h1>

<div class="action-buttons">
  <LinkTo @route="search-chars"><i class="fa fa-search" aria-hidden="true"></i> Search Characters</LinkTo>
</div>

<ul class="nav nav-tabs" role="tablist">

  {{#each this.model.characters.group_names as |group|}}
      <li class="nav-item"><a data-bs-toggle="tab" class="nav-link {{group.active_class}}" href="#{{group.key}}">{{group.name}}</a></li>
  {{/each}}
      <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#idle">Gone</a></li>
      <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#dead">Dead</a></li>
  {{#if this.model.characters.unapproved}}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#unapproved">New</a></li>
  {{/if}}
  {{#if this.model.characters.other}}
  <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#other">Other</a></li>
  {{/if}}
</ul>

<div class="tab-content">

  {{#each this.model.characters.groups as |group|}}

  <div id="{{group.key}}" class="tab-pane fade show {{group.active_class}}">

    {{#each group.subgroups as |subgroup|}}

          <CharGroupList @name={{subgroup.name}} @chars={{subgroup.chars}} />

    {{/each}}

    {{#if group.has_npcs}}
        <CharGroupList @name="NPCs" @chars={{group.npcs}} />
    {{/if}}

  </div>
  {{/each}}

   <div id="idle" class="tab-pane fade show">
      <CharGroupList @name="" @chars={{this.model.characters.idle}} />
  </div>

   <div id="dead" class="tab-pane fade show">
      <CharGroupList @name="" @chars={{this.model.characters.dead}} />
  </div>

  {{#if this.model.characters.unapproved}}
     <div id="unapproved" class="tab-pane fade show">
        <CharGroupList @name="" @chars={{this.model.characters.unapproved}} />
    </div>
  {{/if}}

  {{#if this.model.characters.other}}
     <div id="other" class="tab-pane fade show">
        <CharGroupList @name="" @chars={{this.model.characters.other}} />
    </div>
  {{/if}}
</div>


{{outlet}}
