{{page-title 'Inspiration'}}
<h1>Inspiration</h1>

<p>No idea for where and when to set a scene when characters hop through a Portal or use a Key of which the destination is unknown? Look no further. This generator tries to suggest a combination of location and activity for using a Key or Portal with an unknown destination.</p>
<p>Not every suggestion is going to make sense in combination; you probably will not find a red carpet opera premiere on board a B52 bomber plane over Hamburg in '43. Pick the bits that inspire you and ignore the rest!</p>

<blockquote>
  <p>Your destination could be {{this.model.location}}</p>
  <p>{{this.model.action}}</p>
  <p>An involved item or trinket could be {{this.model.thing}}. Consider using a theme of {{this.model.cue}}</p>
</blockquote>
<p>
  <i>Refresh the page for a new prompt.</i>
</p>

<h2>Other inspiration</h2>
<ul>
  <li>
    <a href="https://www.chincoteaguechamber.com/events/" target=new>Chincoteague Chamber of Commerce's Calendar</a>
    <br>Why not pick a social situation from the real-life island? They have stuff going on almost daily.</li>
  <li>
    <a href="https://imagines.heuschkel.dk/urban-horror-encounters/" target=new>Imagines: Urban horror encounters</a>
    <br>Random prompts for urban horror-style scenes and encounters. <a href="https://imagines.heuschkel.dk/generators/" target=new>Other random encounter tables</a> are available as well.</li>
  <li>
    <a href="https://forum.rpg.net/index.php?threads/101-random-encounters-modern-city-in-the-western-world.377962/" target=new>Modern City In the Western World</a>
    <br>Random encounters in a modern city environment.</li>
  <li>
    <a href="https://www.artbreeder.com/" target=new>Art Breeder</a>
	<br>Create strange landscapes and their inhabitants with AI.</li>
</ul>
{{outlet}}